.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  border: 1px soid #ccc;
}
th,
td {
  padding: 15px;
  text-align: left;
}
th,
td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
